{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block link %}
    <link rel="stylesheet" href="{% static 'css/error.css' %}">
    <style>
        .agile {
            font-size: 17px;
        }
    </style>
{% endblock %}

{% block content %}
		<div class="agile">
            <div class="text_content">  
                <h1 class="title">{% trans "UNAUTHORIZED" %}</h1>
                
                <p class="message_text">{% trans "You have been tricked into click on a link that you are not authorize. Please go to" %} <a href="{% url 'login' %}">{% trans "main page" %}</a> {% trans "and we will locate to the page you are authorized" %}</p>
            </div>
            <div class="smile_image">
                <img src="{% static 'images/505.png' %}">
            </div>
		</div>
{% endblock %}