{% extends 'base.html' %}
{% load i18n %}

{% block style %}
   <style>
     #main {
	 margin-top: 25px;
     }
   </style>
{% endblock %}

{% block content %}
  <div class="row" id="main">
    <div class="col-md-8">
      <p>
        {% trans "We've emailed you instructions for setting up your password, if an account exists with the email you entered. You should receive them shortly." %}
      </p>
      <p>
      {% trans "If you don't receive an email, please make sure you've entered the address you registered with and check your spam folder. Or goto the" %} <a href="{% url 'login' %}" id="login"><span class="glyphicon glyphicon-hand-right"></span>{% trans " Log In" %}</a> {% trans " page and request new password again" %}
      </p>
    </div>
  </div>
{% endblock %}
