{% extends 'base.html' %}
{% load i18n %}

{% block style %}
  <style>
    #main {
       margin-top: 25px;
    }

    #login {
       color: #337ab7; 
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row" id="main">
    <div class="col-md-8">
      <p>
      {% trans "Your password has been set. You may go ahead and " %} <a href="{% url 'login' %}" id="login"><span class="glyphicon glyphicon-hand-right"></span>{% trans " Log In" %}</a> {% trans " now" %}
      </p>
    </div>
  </div>
{% endblock %}
