{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
    <div class="row text-center">
        <p>{% trans "Your are at your home page" %}</p>
        <a href="{% url 'login' %}">
            <button type="button" class="btn btn-sucess btn-lg">
                <span class="glyphicon glyphicon-"></span>{% trans "Back to login page" %}
            </button>
        </a>
        
    </div>
{% endif %}
{% endblock content %}
