{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load permission_tags %}

{% block style %}
   <style type="text/css">
     .btn-send {
        background-color: #337ab7 !important;
        color: #FFFFFF;
      }
   	 #form {
   	 	margin-top: 1%;
   	 }
   	 .well {
   	 	background: #FFFFFF;
        -webkit-box-shadow: 1px 1px 2px 0 #CCCCCC;
        -moz-box-shadow: 1px 1px 2px 0 #CCCCCC;
        -o-box-shadow: 1px 1px 2px 0 #CCCCCC;
        -ms-box-shadow: 1px 1px 2px 0 #CCCCCC;
        box-shadow: 1px 1px 2px 0 #CCCCCC;
        width: 80%;
        padding: 20px;
        margin: auto;
   	 }
     .head {
       font-weight: bold;
       font-size: 1.5rem; 
      }
      .error {
            border: 2px solid red;
      }

</style>

{% endblock %}

{% block content %}
  <div class="text-center head">
    <p>{% trans "Request a leave" %}</p>
  </div>

  <div class="well">
      <form method="post">
        {% csrf_token %}
            <div class="form-group">
                  <label>{% trans "Type" %}</label>
                  {{form.type_conge}}
            </div>
            <div class="form-group">
                  <label>{% trans "Number of day" %}</label>
                  {{form.nombre_jour}}
            </div>
           <div class="form-group">
                <label>{% trans "Start Date" %}</label>
                {{form.date_debut}}
          </div>
          <div class="form-group">
            <label>{% trans "End Date" %}</label>
            {{form.date_fin}}
          </div>

          <div class="form-group">
                <button type="submit" class="btn btn-lg btn-send">{% trans "Submit" %}</button>
          </div> 
      </form>
  </div>
{% endblock content %}