{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
   <style type="text/css">
     .btn-send {
	  background-color: #337ab7 !important; 
	  color: #FFFFFF;
      }

   	 #_login {
   	 	color: #F0A2CD;
   	 }

   	 #form {
   	 	margin-top: 1%;
   	 }

   	 .well {
   	 	background: rgba(255, 255, 255, 1);
		opacity: 0.8;
   	 }

   	 .head {
   	 	margin-top: 1%;
		padding: 0;
   	 }
	 .head p a {
		background-color: transparent;
		color: #337ab7;
		text-decoration: none;
		padding: 3px;
	 }
	 .head p a:hover,
	 .head p a:active {
		background: #337ab7;
		color: white;
		border-radius: 3px;
	 }
	 .buttonHolder {
		text-align: left;
	 }
	 .buttonHolder input{
	    font-weight: bold;
	    font-size: 100%;
	 }
	 .buttonHolder input:hover {
	   cursor: pointer;
	 }
   </style>
{% endblock %}

{% block content %}
	<h2 class="text-center">{% trans "Employe's details" %}</h2>
    <div class="row">
        <p><strong class="label-text">{% trans "Matricule : " %}</strong>{{ employ.matricule }} </p>
        <p><strong class="label-text">{% trans "First name : " %}</strong> {{ employ.first_name }}</p>
        <p><strong class="label-text">{% trans "Last name : " %}</strong> {{ employ.last_name }}</p>
        <p><strong class="label-text">{% trans "Function: " %}</strong> {{ employ.fonction }}</p>
        <p><strong class="label-text">{% trans "Department : " %}</strong> {{employ.departement}}</p>
        <p><strong class="label-text">{% trans "Gender : " %}</strong> {{employ.genre}}</p>
        <p><strong class="label-text">{% trans "Phone 1 ☎️: " %}</strong> {{employ.phone1}}</p>
        <p><strong class="label-text">{% trans "Phone 2 ☎️ : " %}</strong> {{employ.phone2}}</p>
        <p><strong class="label-text">{% trans "Address : " %}</strong> {{employ.address}}</p>
    </div>
    <div class="row">
			{% if employ.id_manager is None and employ.is_manager == False %}
				<div>
					<a href="#" data-toggle="modal" data-target="#PopView" class="btn btn-lg btn-success" id="name">
						{% trans "Add Manager for department" %}
					</a>
				</div>
			{% elif employ.is_manager %}
				<div>
				<a href="#" data-toggle="modal" data-target="#PopView2" class="btn btn-lg btn-danger" id="name">
						{% trans "Desabled Manager" %}
					</a>
				</div>
			{% endif %}
						  <div id="PopView2" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content -->
						<form class="form-horizontal" method="post" action="{% url 'delete_manager' employ.id %}">
								{% csrf_token %}  
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">{% trans "Delete manager" %}</h4>
									</div>
									<div class="modal-body" id="user-details">
										<h3>
											Do you want to delete this manager ?
										</h3>
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-success">{% trans "yes" %}</button>
										<button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "No" %}</button>
									</div>
								</div>
							</form>
						</div>
					</div>
			  <div id="PopView" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content -->
						<form class="form-horizontal" method="post" action="{% url 'add_manager' employ.id %}">
								{% csrf_token %}  
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">{% trans "Add manager" %}</h4>
									</div>
									<div class="modal-body" id="user-details">
										<h3>
											Do you want add this manage ?
										</h3>
									</div>
									<div class="modal-footer">
										<button type="submit" class="btn btn-success">{% trans "yes" %}</button>
										<button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "No" %}</button>
									</div>
								</div>
							</form>
						</div>
					</div>

    <h2 class="text-center">{% trans "list of leave" %}</h2>

  <div class="content">
    <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="datatable">
      <thead>
        <tr>
          <th>{% trans "#" %}</th>
          <th>{% trans "Type of leave" %}</th>
          <th>{% trans "Number of day" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for conge in conges %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ conge.type_conge }}</td>
                <td>{{ conge.nombre_jour }}</td>
              </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
{% block javascript %}
	<script>
		$("input[name=passport_number]").focusout(function () {
				if ($(this).val().length < 7) {
					$(this).addClass('error')
				} else {
					$(this).removeClass('error')
				}
			})
			$("form").on('submit', function (e) {
				if ($("input[name=passport_number]").val().length < 7) {
					$("input[name=passport_number]").addClass('error')
					return false
				} else {
					$("input[name=passport_number]").removeClass('error')
					return true
				}
			})
	</script>
{% endblock javascript%}